# Зависимости
node_modules/
frontend/

# Переменные окружения (секреты, пароли от БД)
.env
.env.local
.env.*.local

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Файлы редакторов/ОС
.vscode/
.idea/
.DS_Store
Thumbs.db

# Если будете собирать фронтенд (на будущее)
dist/
build/